/* @override 
	http://www.columbia.edu/cu/arch/staging/gsapp.css
	http://www.columbia.edu/cu/arch/tmpltzr/gsapp.css
*/

/* MAIN DIVS */
.wrapper {
    text-align: left;
    margin:0px;
    background-color:transparent; /* tct2003 111228 #fff; */
    padding:0;
    border:none; /* tct2003 111228 10px solid #fff;*/
}
#header {
    width:400px;
    height:170px;
    position:fixed;
    top:0;
    left:0;
    background-color:green; /* tct2003 111228 #fff; */
    overflow: hidden;
}



#content {
    margin-left:460px; /* 60px margin from menu */
    background-color:transparent; /* tct2003 111228 #fff; */
}


#menu {
    width: 400px;
    background-color:green; /* tct2003 111228 #fff; */
    height:100%;
    position:fixed;
    top:170px;
    left:0;
	overflow: auto;
}
.menu li a:hover {
	color:gray;
}

/* SUB DIVS */



#footer {
    margin-top: 10px;
    width: auto;
    line-height: 16px;
    clear: both;
    text-align:justify;
}


#gsapplogo{
	display:block;
	margin:30px 0 0px 47px;
}

#login {
	height: 25px;
	display: inline-block;
	margin-left:10px;
	vertical-align:top;
	
}
#login a{
	color:white;
	text-decoration:none;
	font: 11px "courier new", monospace;
}

/* GOOGLE CUSTOM SEARCH */
#search-login-container {
	position:fixed;
	top:120px;
	left:47px;
	width: 360px;
	height:24px;
}
#gsapp-customsearch{
	display: inline-block;
	width:225px;
	height:100%;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background-color:white;
}
#gsapp-customsearch #edit-searchterm-wrapper{
	display:inline-block;
	margin:0 !important;
	vertical-align: top;
	padding: 0 0 0 10px;
}

#gsapp-customsearch #edit-searchterm{
	border: none;
	padding: 0;
}

#gsapp-customsearch #edit-searchterm:focus{
	outline:none;
	outline-offset:none;
}

#gsapp-customsearch #edit-submit{
	width:16px; 		
	height:16px;
	background:url("http://www.columbia.edu/cu/arch/tmpltzr-postfog/assets/search.png") no-repeat; 
	border:none;
	overflow:hidden;
	cursor:pointer;
	vertical-align: middle;
}

.form-item {
	display:inline;
}




#share {
    margin-top: 2px;
    margin-bottom: 0px;
    font: 10px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#68aac1;
    padding:0px 0px 0px 10px;
}

#global-header{
	display:block;
	width:100%;
	height:107px;
}


/* LINKS */


/* LISTS */
#footer ul {
    margin: 0px;
    padding: 0;
    display: inline;
}
#footer ul li {
    width: 100%;
    padding: 0px;
    display: inline;
    border-bottom:0px;
}

/* COURSE TABLE */
#mytable {
    font: 10px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ebebeb;
}
#mytable2 {
    font: 10px Arial, Helvetica, sans-serif;
    text-transform: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ebebeb;
}
#shorttable {
    font: 9px Arial, Helvetica, sans-serif;
    nsform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ebebeb;
}
caption {
    font: 11px "courier new", monospace;
    color: #000;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: none;
}

#mytable th {
    font: bold 11px "arial", helvetica, sans-serif;
    color: #000000;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    text-transform: none;
    text-align: left;
    padding: 6px 3px 6px 6px;
    background: #f3f3f3;
}
#mytable td {
	font: 10px "arial", helvetica, snas-serif;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    background: #fff;
    padding: 6px 3px 6px 3px;
    color: #000;
    text-transform: none;
    text-align: center;
  /*  word-break: break-all !important; */
}
#mytable2 th {
    font:10px arial, helvetica, sans-serif;
    color: #051215;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    text-transform: none;
    text-align: left;
    padding: 3px 3px 3px 6px;
    background: #f3f3f3;
    font-weight:bold;
}
#mytable2 td {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    padding: 3px 3px 3px 6px;
    color: #051215;
}


/* Important messages (status, warning, and error) for the user */div.messages {
    margin: 0 1em 5px 1em;
    border: 2px solid #ccc;
    padding: 5px;
    color: #000;
    background-color: #fff;
    font-style: italic;
}
/* Normal priority messages */div.status {
}
/* Medium priority messages */div.warning {
    border-color: #ff7;
}
div.warning, tr.warning {
    color: #000;
    background-color: #ffc;
}
/* High priority messages. See also the .error declaration below. */div.error {
    border-color: #c00;
}
div.error, tr.error {
    color: #900;
    background-color: #fee;
}
/* See also the tabs.css file. */html div.tabs {
    font-size: 12px;
    zoom: 1;
    margin: 0pt 0.5em 10px 0pt;
}
/* Help text on a page */.help {
    margin: 1em 12px 1em 0;
    font-size: 12px;
    border-bottom: 2px solid #79808A;
    padding: 0 1em 0.5em;
}
/* Link to more help */.more-help-link {
    font-size: 0.85em;
    text-align: right;
}
/* A list of page numbers when more than 1 page of content is available */.pager {
    clear: both;
    margin: 1em 0;
    text-align: center;
}
.pager a, .pager strong.pager-current {
    padding: 0.5em;
}
/* The links to the RSS or Atom feeds for the current list of content */.feed-icons {
    margin: 1em 0;
}
/* Content */
.node {
    position: relative;
}
.node-unpublished {
    background: #CCC;
    padding: 0.5em;
}
.unpublished {
    font-weight: bold;
    font-size: 1em;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    right: 2px;
}

/* "New" or "Updated" marker for content that is new or updated for the current user */.marker {
    color: #c00;
}

/* Miscellaneous Drupal styles */
/* Errors that are separate from div.messages status messages (see above.) */.error {
    color: #c00;
}
/* Aggregator, blog, and forum more link */.more-link {
    text-align: right;
}
/* Drupal's default login form */#user-login-form {
    text-align: left;
}
/* Some tables have rows marked even or odd. See also the ".section-admin tr.even" declaration below. */tr.even, tr.odd {
    border-bottom: none;
    padding: 0;
}



/* Drupal forms */
/* Wrapper for a form element (or group of form elements) and its label */
.form-checkboxes,
.form-radios {
    margin: 1em 0;
}
/* Highlight the form elements that caused a form submission error */.form-item input.error,
.form-item textarea.error,
.form-item select.error {
    border: 2px solid #c00;
}
/* The label for a form element */.form-item label {
    display: block;
    font-weight: bold;
}
/* The label for a radio button or checkbox */.form-item label.option {
    display: inline;
    font-weight: normal;
}
/* The part of the label that indicates a required field */.form-required {
    color: #c00;
}
/* The descriptive help text (separate from the label) */.form-item .description {
    font-size: 0.85em;
}
/* Pack groups of checkboxes and radio buttons closer together */.form-checkboxes .form-item,
.form-radios .form-item {
    margin: 0.4em 0;
}
/* Tips for Drupal's input formats */.tips {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

/* Clear floats solution: http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \ */
* html .clearfix,
* html .views-row-odd,
* html .views-row-even {
    height: 1%;
}
.clearfix,
.views-row-odd,
.views-row-even {
    display: block;
}
/* End hide from IE-mac */
/* Drupal's collapsible fieldsets */
html.js fieldset.collapsible:hover {
    background: #E1ECF4;
}
html.js fieldset.collapsed:hover {
    background: none !important;
}
html.js fieldset {
    border: 1px solid #666666;
    background: #FAFAFA;
    margin: 1em 0 !important;
    padding: 1em;
}
html.js fieldset.collapsed {
    border: 0;
    border-top: 1px dotted #666666;
    background: none;
    padding: 0 1em;
}
html.js fieldset.collapsible legend {
    border: 1px solid #000;
    background: #FFF;
    padding-right: 1em;
}
html.js fieldset.collapsed legend {
    border: 1px solid transparent !important;
    background: transparent !important;
}
html.js fieldset legend a {
    font-weight: bold;
}
/* Drupal's tabs */
#content ul.tabs {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0.4em 0 0;
}
/* Status report colors */
table.system-status-report tr.error, table.system-status-report tr.error th {
    background-color: #fcc;
    border-color: #ebb;
    color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
    background-color: #ffd;
    border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
    background-color: #dfd;
    border-color: #beb;
}
/* Admin section styles */
.admin div.right {
    text-align:left;
    padding-right:0;
}
div.admin-panel {
    border: 1px solid #FFF;
    background: #FAFAFA;
    margin:5px 0 15px;
    padding:0 1em;
    outline: 1px solid #E1ECF4;
}
div.admin-panel h3 {
    font-size: 1.6em;
}
.wrapper div.admin-panel li {
    border-bottom: none;
}
div.admin-panel:hover {
    background: #E1ECF4;
}
div.messages,
div.warning {
    color: #585E6C;
    border: 1px solid #585E6C;
    border-bottom-width: 2px;
    padding: 0.5em 1em;
    margin: 1em;
}
.theme-info h2 {
    padding:0;
}
#autocomplete {
    background: #FFF;
}
#content #views-tabset {
    margin: 0;
    padding: 0;
}
.block-region {
    margin: 0.2em;
}
.node-form {
    margin: 0 0 1em;
}
.draggable a:hover {
    background-color: inherit;
}
#edit--add-existing-field-field-name {
/* unstyled CCK select box is too long */
/* width: 322px; */
}
#admin-system-location {
    background:#F8F9F9;
    border:1px solid #000000;
    padding:5px 10px;
    position:absolute;
    right:229px;
    top:40px;
    z-index: 30;
}
#admin-system-location div {
    display: inline-block;
    font-weight: bold;
}
.edit,
div.view div.views-admin-links li {
    display: inline;
    background-color: #FFF !important;
    text-align: center;
    padding: 1px 3px;
    border: 1px solid #000 !important;
}
.edit a,
div.view div.views-admin-links li a {
    font-family: Verdana !important;
    font-size: 9px !important;
    text-transform: none !important;
    font-weight: bold !important;
    color: #000 !important;
    padding: 0 !important;
}
.edit a:hover,
div.view div.views-admin-links li a:hover {
    background-color: inherit !important;
}
.spaced-edit {
    margin-left: 4px;
}
/* Views styles */
.view tr.odd, .view tr.odd td {
    background-color: transparent;
}
.view tr.even, .view tr.even td {
    background-color: #F8F3EA;
}
.view thead tr {
    background-repeat: no-repeat;
    position: relative;
    zoom: 1;
}
.view thead th {
    color: #006699;
    font-weight: bold;
    height: 30px;
/* extra height w/ BG effect is to add extra padding for the first line */
    vertical-align: top;
    padding-top: 3px;
    zoom: 1;
    position: relative;
}
/* Views admin styles */
#views-ui-edit-view-form {
    margin: 1em 10em;
}


.views-field-edit-node,
.views-field-field-edit-in-sundial-value,
.field-field-edit-in-sundial {
    float:right;
    margin:0px 10px;
    color:#CC0000;
    position:relative;
    z-index:50;
}
.views-field-edit-node a,
.views-field-field-edit-in-sundial-value a,
.field-field-edit-in-sundial a {
    color:#CC0000;
    text-decoration:underline;
}

/* Event node css */
.node-type-event #three_col_rt {
    color:#051215;
    font-family:Arial,Helvetica,sans-serif;
}
.node-type-event #three_col_rt #content {
    margin-top:0px;
}
.node-type-event #three_col_rt .field-field-speaker,
.node-type-event #three_col_rt p,
.node-type-exhibition #three_col_rt p,
.node-type-person #three_col_rt p {
    font-size:12px;
    padding:0px;
    line-height:18px;
}
.node-type-event .field-field-date {
    padding-top:5px;
}
.node-type-event .field-field-speaker {
    margin:0px 0px 5px 0px;
}
/* New Addition, Fresh Comments, and Recent Hits on non-Home pages */
.view-Filter div.views-field-name,
.view-new-additions ul li,
.view-comments-recent ul li,
.view-recent-hits ul li {
    list-style:none;
    border-bottom:1px solid #EFEFEF;
    margin-left:0px;
    padding-left:8px;
}
.section-work .view-Filter div.views-field-name {
    border-bottom:none;
}
.view-Filter div.views-field-name a {
    color:#68AAC1;
    display:block;
    padding:2px 0 2px 0;
}
.view-Filter div.views-field-name a.active {
    background-color:#EFEFEF;
    font-weight:bold;
}
.views-field-tid .views-label-tid {
    text-transform:UPPERCASE;
}
.section-news-events .views-field-tid, .section-tags .entrytags {
    clear:both;
    margin:10px 0 10px 0;
}
.section-calendar br.line-break {
    display:none;
}
#simplemenu {
    position:absolute;
    top:0;
}
body.simplemenu-enabled .wrapper {
    margin-top:20px;
}
.preview h3.title {
    margin-bottom:10px;
}
.section-category_admin #edit-description-wrapper {
    display:none;
}
#search-block-form {
    padding:6px 0 6px 10px;
}
#search-form .search-advanced {
    padding-right:0px !important;
    margin-right:0px !important;
}
#search-form .search-advanced .form-item,
#search-form .search-advanced .criterion {
    width:200px;
    float:left;
    margin-right:20px;
}
#search-form .search-advanced .form-item label {
    text-transform:uppercase;
    text-decoration:underline;
}
#search-form .search-advanced .form-item .form-checkboxes .form-item label {
    text-decoration:none;
}
#search-form .search-advanced .form-item input.form-text {
    width:200px;
}
#search-form fieldset.search-advanced {
    border:0px;
}
#search-form fieldset.search-advanced legend {
    display:none;
}
#edit-Filter-59-wrapper {
    display:none;
}
.section-search .box-inner h2.title {
    display:none;
}
.section-search .box-inner .content {
    padding-top:5px;
}
.section-search .box-inner .content dl {
    margin:0;
}
.section-search .box-inner .content dd {
    margin-left:10px;
}
#search-block-form input.edit-submit {
    display:block;
    background:none;
    border:none;
    text-transform:uppercase;
    float:right;
    font-size:10px;
    margin:15px 10px 4px 10px;
}
#search-block-form .form-text {
    width:182px;
    margin-left:2px;
}
.clear-floats {
    clear:both;
}
#edit-keys-wrapper {
    padding:0;
    margin:0 10px 10px 0px;
}
/*
  .view-events .date-display-start, .view-events .date-display-separator, .view-events .date-display-end, .view-events .views-field-field-location-value {
 */
.view-events .views-row-odd, .view-events .views-row-even, .view-broadcast-announcements .views-row-odd, .view-broadcast-announcements .views-row-even,
.view-upcoming-exhibitions .views-row-odd, .view-upcoming-exhibitions .views-row-even, .page-work-courses .view-work-taxonomy-term .views-row-odd,
.page-work-courses .view-work-taxonomy-term .views-row-even, .section-work .view-taxonomy-term .views-row-odd, .section-work .view-taxonomy-term .views-row-even,
.section-work .view-work-taxonomy-term .views-row-odd, .section-work .view-work-taxonomy-term .views-row-even, .section-international-workshops .view-international-workshops .views-row-odd,
.section-international-workshops .view-international-workshops .views-row-even, .section-calendar-month .view-calendar-events .views-row-odd, .section-calendar-month .view-calendar-events .views-row-even{
    font-size:12px;
    line-height:18px;
    text-transform:none;
    padding-bottom:10px;
}
.view-broadcast-announcements .views-field-title .field-content a {
    font: 18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform: none;
    color:#000;
    margin: 0px;
    width: auto;
    padding:0px;
}
.page-event-archive #three_col_rt h3 {
    display:none;
}
.page-event-archive .view-events table thead th.views-field-field-assign-date-value {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    text-transform:capitalize;
}
.page-event-archive .view-events table {
    border-top:1px solid #EBEBEB;
    border-right:1px solid #EBEBEB;
    border-bottom:1px solid #EBEBEB;
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0pt;
    padding:0pt;
    text-transform:none;
    width:100%;
}
.page-event-archive .view-events table thead th {
    height:12px;
    min-height:12px;
    border-bottom:1px solid #EBEBEB;
}
.page-event-archive .view-events table thead th, .page-event-archive .view-events table tbody td.views-field {
    background:#FFFFFF none repeat scroll 0% 50%;
    border-bottom:1px solid #EBEBEB;
    border-left:1px solid #EBEBEB;
    border-right:1px solid #EBEBEB;
    color:#051215;
    padding:3px 3px 3px 6px;
    text-align:left;
}
.page-event-archive .view-events table thead th, .page-event-archive .view-events table tbody td.views-field-nid,
.page-all-courses .view-work-taxonomy-term table tbody td.views-field-field-course-number-value {
    background:#F3F3F3 none repeat scroll 0%;
    font-weight:bold;
}
.page-event-archive .view-events table tbody td.views-field-nid a {
    text-transform:capitalize;
    font-weight:bold;
}
.page-event-archive .view-events table tbody tr td {
    background:#FFFFFF none repeat scroll 0%;
    border-bottom:1px solid #EBEBEB;
    border-right:1px solid #EBEBEB;
    color:#051215;
    padding:3px 3px 3px 6px;
}
.page-event-archive .view-events table tbody tr td.views-field-field-assign-date-value,
.page-event-archive .view-events table tbody tr .views-field-title a {
    color:#051215;
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:normal;
    text-decoration:none;
}
.page-event-archive .view-events tr.even, .page-event-archive .view-events tr.even td,
.page-all-courses .view-work-taxonomy-term tr.even, .page-all-courses .view-work-taxonomy-term tr.even td {
    background-color:transparent; /* tct2003 111228 #fff; */
}
.node-type-work_page .entry, .section-work .entry, .section-international-workshops .entry {
    border:none;
    margin-bottom:0px;
    padding-bottom:0px;
}
.node-type-work-page .views-field-field-speaker-nid a {
    text-transform:capitalize;
    font-size:12px;
    line-height:18px;
}
.section-work .views-row-odd,
.section-work .views-row-even,
.section-international-workshops .view-international-workshops .views-row-odd,
.section-international-workshops .view-international-workshops .views-row-even,
.page-unpublished .view-unpublished .views-row-odd,
.page-unpublished .view-unpublished .views-row-even {
    border-bottom:1px solid #EFEFEF;
/* padding-bottom:15px; */
}
/*
  .section-work .view-taxonomy-term .view-content .views-row-odd,
  .section-work .view-taxonomy-term .view-content .views-row-even {
  border-bottom:1px solid #EFEFEF;
  padding-bottom:30px;
  }
  .section-work .view-taxonomy-term .views-row-odd, .section-work .view-taxonomy-term .views-row-even {
  padding-bottom:0px;
  }
 */
/* sundial item */
.node-type-aggregation-item #content #node-form .textarea-identifier,
.node-type-aggregation-item #content #node-form fieldset,
.node-type-aggregation-item #content #node-form .form-item {
    display:none;
}
.node-type-aggregation-item #content #node-form #edit-delete {
    display:none;
}
.node-type-aggregation-item #content #node-form #field-user-speaker-add-more-wrapper,
.node-type-aggregation-item #content #node-form #field-user-speaker-add-more-wrapper .form-item,
.node-type-aggregation-item #content #node-form #edit-field-user-speaker-uid-uid-wrapper,
.node-type-aggregation-item #content #node-form #edit-field-image-0-ahah-wrapper,
.node-type-aggregation-item #content #node-form #edit-field-image-0-wrapper,
.node-type-aggregation-item #content #node-form #edit-field-image-0-wrapper .form-item,
.node-type-aggregation-item #content #node-form .menu-item-form,
.node-type-aggregation-item #content #node-form .menu-item-form .form-item {
    display:block;
}
.sundial-edit-message {
    padding:10px;
    color:#FF0000;
}
.section-school .node-type-page h4 {
    display:none;
}
.page-all-courses #three_col_rt #content {
    margin-top:0px;
}
.page-all-courses .view-work-taxonomy-term table {
    -x-system-font:none;
    border-top:1px solid #EBEBEB;
    border-right:1px solid #EBEBEB;
    border-left:1px solid #EBEBEB;
    font-family:Arial,Helvetica,sans-serif;
    font-size:9px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:1px;
    line-height:normal;
    margin:0;
    padding:0;
    text-transform:uppercase;
    width:100%;
}
.page-all-courses .view-work-taxonomy-term table thead th {
    border-bottom:1px solid #EBEBEB;
    border-left:1px solid #EBEBEB;
    border-right:1px solid #EBEBEB;
    color:#051215;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:2px;
    line-height:normal;
    padding:0.3em 0.5em;
    text-align:left;
    text-transform:none;
    background:#F3F3F3 none repeat scroll 0 50%;
    height:16px;
}
.page-all-courses .view-work-taxonomy-term table tr {
    border-bottom:1px solid #EBEBEB;
}
.page-all-courses .view-work-taxonomy-term table td {
    border-right:1px solid #EBEBEB;
}
.page-all-courses .view-work-taxonomy-term table td a {
    font-family:Arial,Helvetica,sans-serif;
    font-size:9px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:1px;
    line-height:normal;
    text-transform:uppercase;
    text-decoration:none;
    color:#051215;
}
.page-all-courses .view-work-taxonomy-term table td.views-field-edit-node {
    border:none;
}
.page-all-courses .view-work-taxonomy-term table td.views-field-edit-node a {
    color:#CC0000;
    text-decoration:underline;
}
.page-all-courses .view-work-taxonomy-term table td.views-field-field-location-value p {
    padding:0.3em 0.5em;
}
.page-all-courses h4.table_title {
    -x-system-font:none;
    color:#000000;
    font-family:arial,helvetica,sans-serif;
    font-size:10px;
    font-weight:bold;
    letter-spacing:2px;
    line-height:normal;
    padding-bottom:10px;
    padding-top:10px;
    text-align:left;
    text-transform:uppercase;
    text-decoration:none;
}
/* Overview Page */
.node-type-overview-page .field-field-top-text,
.person-top-text {
    background-color:#EFEFEF;
    margin:0;
    padding:20px 10px 10px 10px;
    font-size:12px;
}
.person-top-text .view-content,
.person-top-text .view-content div {
    background-color:#EFEFEF;
}
.node-type-overview-page .right-overview-sidebar {
    width:237px;
    float:right;
    position:relative;
}
.node-type-overview-page .left-overview-content {
    margin-top:0;
    float:left;
    width:470px;
}
.node-type-overview-page .right-overview-sidebar .views-field-title a {
    padding:0px;
}
.node-type-overview-page .right-overview-sidebar .view-featured-event .view-content {
    padding:2px 0 2px 8px;
}
.node-type-overview-page .right-overview-sidebar .view-today-events .item-list ul li {
    border-bottom:none;
}
.node-type-overview-page .right-overview-sidebar {
    font-size:10px;
}
.node-type-overview-page .right-overview-sidebar .more-link {
    text-align:left;
    padding-left:8px;
}
.node-type-overview-page .right-overview-sidebar .view {
    margin:10px 0 10px 0;
}
.node-type-overview-page #comments {
    width:470px;
}
.node-type-overview-page #three_col_rt #content {
    margin-top:0px;
}
.manage-featured-link {
    position:absolute;
    top:0px;
    right:0px;
    background-color:#EFEFEF;
}
#block-menu_block-7 ul li.first {
    display:none;
}
.node-type-page.section-school h3.title {
    display:none;
}
.page-work .tabs, .page-work-courses .tabs,
.page-work h4.title, .page-work-courses h4.title,
.page-work #node-154 .content, .page-work-courses #node-155 .content {
    display:none;
}
.page-work #node-154, .page-work-courses #node-155 {
    border:none;
}
.section-work .view-content .views-field-field-teaser-value p {
    padding:6px 0;
}
/* profile */
.section-users .view-content {
    font-size:12px;
}
.section-users .views-field-value-7,
.section-profile .views-field-value-7 {
    padding:10px 0 10px 0;
}
.section-users .views-field-value-3,
.section-profile .views-field-value-3 {
    padding-bottom:10px;
}
/* HOMEPAGE */
.front #two_col_lt .item-list ul li {
    margin:0px;
    border-bottom:none;
}
.front #one_col_rt.left_inner .item-list ul li {
    padding:2px 0 2px 8px;
    border-bottom:1px solid #EFEFEF;
}
.front #one_col_rt.left_inner .item-list ul li a:hover {
    text-decoration:none;
}
.front .left_outer h2, .front .right_inner h2, .front .right_outer h2 {
    text-decoration:none;
}
.front .left_outer ul.menu li {
    list-style-type:none;
    list-style-image:none;
}
.view-content #entry {
    line-height:18px;
    font-size:12px;
    border-bottom: 1px solid #efefef;
    text-transform:none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.page-school-programs .view-content #entry {
    border-bottom:none;
}
.front #two_col_lt .left_inner .block {
    background-color:#F8F9F9;
    margin-bottom:10px;
}
.front .right_inner #block-block-21 .views-field-title a {
    text-decoration:none;
    padding:0px;
}
.front .right_inner #block-block-21 .view-content {
    padding-left:10px;
}
.front .right_inner #block-block-22 h2 {
    margin-bottom:10px;
}
.front .right_inner #block-block-22 .views-field-title {
    padding-left:2px;
}
.front .right_inner #block-block-22 .views-field-title a {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:normal;
    line-height:normal;
    text-decoration:none;
    text-transform:uppercase;
}
.front .right_inner #block-block-23 .calendar-calendar table {
    color:#333333;
    margin-left:10px;
    padding:0;
    width:217px;
}
.front .right_inner #block-block-23 .calendar-calendar .date-nav div.date-heading {
    text-align:left;
    float:left;

}

.front .right_inner #block-block-23 .calendar-calendar .date-nav a{
	background:none;
	text-decoration:none;
	font-weight:bold;
}

.front .right_inner #block-block-23 .calendar-calendar .date-nav div.date-heading a:hover{
	background:none;
	text-decoration:underline;
	font-weight:bold;
}

.front .right_inner #block-block-23 .calendar-calendar .date-nav .date-prev{
	text-align:right;
	float:left;
   width:40%;
}

.front .right_inner #block-block-23 .calendar-calendar .date-nav .date-next{
	text-align:left;
	float:left;
	width:2%;
}


.front .right_inner #block-block-23 .calendar-calendar .date-nav h3 {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
}
.front .right_inner #block-block-23 .calendar-calendar .date-nav a {
    color:#FFFFFF;
}
.front .right_inner #block-block-23 .date-nav {
    padding:6px 6px 6px 10px;
    margin-bottom:6px;
}
.front .right_inner #block-block-23 .calendar-calendar th.days {
    background-color:#F8F9F9; /* tct2003 111228 #FFFFFF; */
    border-bottom:none;
    color:#494949;
    font-weight:bold;
    height:auto;
    padding:3px 2px 2px;
    font-size:11px; /* tct2003 111228*/
}

.calendar-calendar tr { /* tct2003 111228*/
	background-color:transparent;
}

.calendar-calendar td, .calendar-calendar td a { /* tct2003 111228*/
	background-color:transparent;
}

.front .right_inner #block-block-23 .calendar-calendar td {
    /* tct2003 111228 border:1px solid #FFFFFF; */
    text-align:center;
    min-width:13%;
    width:13%;
}
.front .right_inner #block-block-23 .calendar-calendar td.today,
.front .right_inner #block-block-23 .calendar-calendar td.today .mini-day-on {
    background-color:transparent; /* tct2003 111228 #FFFFFF; */
}
.front .right_inner #block-block-23 .calendar-calendar td a {
    background-color:transparent;
    color:#333333;
    font-size:14px; /* tct2003 111228*/
}
.front .right_inner #block-block-23 .calendar-calendar td a:hover {
    padding:1px 2px 3px;
}
.front .right_inner #block-block-23 .calendar-calendar td .mini-day-off,
.front .right_inner #block-block-23 .calendar-calendar td .mini-day-on {
    color:#333333;
    padding:8px 2px;
    background-color:#F7F7F7; /* tct2003 111228 #F7F7F7; */
}
.front .right_outer #block-block-25 {
    background-color:#F8F9F9;
}
.front .right_outer #block-block-24 {
    background-color:#F8F9F9;
    text-transform:uppercase;
}
.front .right_outer #block-block-24 .item-list li {
    border-bottom:1px solid #EFEFEF;
    padding:10px;
    text-transform:none;
    margin:0px;
}
.front .right_outer #block-block-24 .views-field-title a {
    font-weight:bold;
}
.front .right_outer #block-block-24 .views-field-field-teaser-value span {
	padding:0px;
	line-height:12px;
	font-size:11px;
}
.front #block-block-25 { /* homepage search */
	display: none;
	/* was 
    height:96px;
    */
}
.front .view-nodequeue-3 .more-link {
	padding: .25em 1em .25em 0em;
}
/* INTERNATIONAL WORKSHOPS PAGE */
.section-international-workshops #entry {
    border: none;
    padding-bottom: 0px;
}
/* Userreference display */
.field-type-userreference .field-item {
    display:inline;
}
.person-top-text {
    margin:0 0 10px 0;
}
/* SCHOOL SECTION */
.page-school-programs a.titleLink2 {
    font-size:24px;
}
/* people section */
#atoz-container {
    font-size:10px;
    padding:0 0 10px 0;
    text-align:justify;
    margin:0 0 5px 0;
}
#alpha-index a,
#alpha-index span {
    display:inline;
    margin:0 8px 0px 0;
    padding:2px;
    width:100%;
    border-bottom: 1px solid #EFEFEF;
}
#alpha-index a {
    text-decoration:underline;
}
.no-listing {
    color:#DEDEDE;
}
/* image gallery */
.node-type-work-page .field-field-images div a,
.section-imagegallary .field-field-images div a,
.section-imagegallery .field-field-images div a{
    float:left;
    margin:5px 10px 0 0;
    position:relative;
}
.node-type-work-page .views-field-tid,
.section-imagegallary .views-field-tid,
.section-imagegallery .views-field-tid{
    padding-top:5px;
}
.node-type-work-page h4.title,
.section-imagegallary h4.title,
.section-imagegallery h4.title {
    margin-top:5px;
}
.node-type-work-page .field-field-images .caption,
.section-imagegallary .field-field-images .caption,
.section-imagegallery .field-field-images .caption {
    position:absolute;
    bottom:0;
    left:0;
    float:none;
    background:#D5D5D5;
    display:block;
    width:216px;
    padding:2px;
    overflow:auto;
}
.view-work-get-gallary .item-list ul li {
    margin-left:8px;
}
.front .date-prev span,
.front .date-next span {
    position:absolute;
}
.front .date-next span {
    right:10px;
}
.front .date-prev,
.front .date-next {

}
.node-type-image-gallary .menu-item-form {
    display:none;
}
.section-people #content {
    margin-top:0
}
.node-type-semester .menu-item-form {
    display:none;
}
.node-type-semester .date-display-single {
    font-size:12px;
    font-weight:normal;
}
#block-views-taxonomy_term-block_3 .views-field-title a,
#block-block-26 .views-field-title a {
    -x-system-font:none;
    color:#000000;
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    text-decoration:none;
    text-transform:uppercase;
}
#block-views-taxonomy_term-block_3 .view-content li,
#block-block-26 .view-content li {
    margin:0;
    padding:2px 0px 2px 8px;
    line-height:0px;
}
.view {
    position:relative;
}
.section-search .tabs {
   /* display:none;*/
}
.section-user .menu-item-form {
    display:none;
}
.section-people .views-field-field-image-fid {
    margin-bottom:5px;
}
.section-my-site .site-block {
    width:30%;
    float:left;
    padding:10px;
}
.section-my-site .site-block .field-content a {
    font-size:11px;
    background:none;
}
.section-my-site .site-block h4 a,
.section-my-site .site-block h4 span{
	font-size:11px;
	background:none;
	color:#FFFFFF;
	font-weight:normal;
	text-decoration:none;
}
.section-my-site .site-block h4 {
    display:block;
    background-color:#051215;
    padding:3px 5px 2px 5px;
    position:relative;
}
.section-my-site .site-block .item-list ul li {
    margin-left:0;
    padding:2px 2px 2px 8px;
/*
  border-bottom:none;
  list-style-image: url(/misc/menu-collapsed.png);
 */
}
.section-my-site .site-block .item-list ul {
/* list-style-image: url(/misc/menu-collapsed.png); */
}
.section-my-site .site-block .view-content {
    margin-bottom:20px;
}
.section-my-site .site-block .more-link a {
    background:none;
}
.section-my-site .my-site-lite-remove {
    display:inline;
    position:absolute;
    right:3px;
}
.my-site-lite-links {
    border:solid 1px #EFEFEF;
    padding:10px;
}
.my-site-lite-links a {
    color:#051215;
}
#node-154 .links,
#node-155 .links {
    display:none;
}
.page-node-add-my-site-announcement .menu-item-form {
    display:none;
}
.view-nodequeue-12 .field-content a,
.view-nodequeue-12 .manage-featured-link a {
    background:none;
}
.view-nodequeue-12 {
    border:solid 1px #EFEFEF;
    margin:0 20px 0 10px;
    padding:8px;
}
/* TAGS USED/VIEWED PAGES */
.page-tags-used #node-347 .wrapper-tags-viewed a,
.page-tags-viewed #node-352 .wrapper-tags-viewed a {
	text-decoration:none;
	font-size:1em;
}
/* ARCHIVE PAGES */
.view-display-semester-archive .views-field-title {
	font-size:12px;
	line-height:18px;
	text-transform:none;
	padding:10px 0px 10px 0px;
}
.page-work-courses-studio .view-display-id-page_2 .views-field-title a{
	color:#051215;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:normal;
	text-decoration:underline;
	text-transform:none;
}
#block-views-taxonomy_term-block_3 .views-field-title a.active, #block-block-26 .views-field-title a.active {
	font-weight:bold;
}
#guestbook-form-entry-form #edit-message-wrapper label{
display:none;
}

#comments .item-list{
margin-bottom:10px;
}

#three_col_rt #content {
	margin-top:170px;
	width:520px;
}
.title
/* UNPUBLISHED QUEUE PAGE */
.page-unpublished .view-unpublished .views-row-odd,
.page-unpublished .view-unpublished .views-row-even {
	padding-top:10px;
}

.section-tags-used .tabs,
.section-tags-viewed .tabs
{
display:none;
}

.section-guestbooks #content h4{
display:none;
}
.section-calendar-month .view-calendar-events .date-display-single{
	font-size:18px;
}

.node-type-my-site-announcement .menu-item-form{
display:none;
}

.section-my-site .views-field-edit-node{
display:none;
}

.section-users .tabs{
display:none;
}

#block-block-22 .view-today-events .views-row-odd,
#block-block-22 .view-today-events .views-row-even{
border-bottom:1px solid #EFEFEF;
padding:2px 0 2px 8px;
width:auto;
margin-top:2px;
}

.views-field-field-markup-value p {
  margin: 0;
  padding: 0;
}
.views-field-field-markup-value img {
  display: block;
}

/* Depreciated Elements */
.entrytags {
	display:none;
	/* was
    margin-top:10px;
    margin-bottom: 0px;
    padding:0px;
    font: 10px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    */
    clear:both;
}
.entryshare {
	display:none;
	/*
    margin-top: 2px;
    margin-bottom: 0px;
    font: 10px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#68aac1;
    padding:0px;
    */
    clear:both;
}
#block-views-new_additions-block_2 { /* was new additions */
	display:none;
}
#block-views-recent_hits-block_2 { /* was recent hits */
	display:none;
}
#block-views-comments_recent-block { /* was recent comments */
	display:none;
}
#block-views-Filter-block_1 { /* was filter listing */
	display:none;
}

#content .person-listing {
	display:none;
}

.views-field-tid {
	display:none;
}





  


tbody {
	border: none;
}


/* to turn off Google branding */

td.gsc-branding-text, td.gsc-branding-img {
	display: none !important;
}

/* from Minimalist */

#block-views-calendar-calendar_block, #block-block-23 {
	display:none;
}

/* PUBLICATIONS */
#header .menu-name-primary-links .menu .first{
	display:none !important;
}

.view-Publications {
	margin-top:30px;
}

.publication-title, body .publication-title:hover{
	color:#222 !important;
	text-decoration:none !important;
}

.publication-listing-image {
	float:left;
	margin-right:25px;
}

.publication-description {
	float:left;
	width:480px;
}

.view-Publications article.node {
	margin-bottom:70px;
}

.publication-year{
	font: bold 18px Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	margin-bottom:7px;
}
.publications-index .views-row, .publications-index .view-header {float:left; margin-right:10px; margin-bottom: 10px; height:100px; display:block; vertical-align:bottom; }
.publications-index .view-header { font: bold 18px Verdana, Helvetica, Arial, sans-serif; margin-right:25px; text-align:right; }




/* EVENTS */


/* MENU */
#main-menu h2 {display:none;} /* turn this off in Drupal - menu header, blocks config */


